{% load static %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="{% url 'women_preference' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-female"></i></div>
                    Women Preference
                </a>
                <a class="nav-link" href="{% url 'future_avg_basket' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Future Avg Basket
                </a>
                <a class="nav-link" href="{% url 'potential_region' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                    Potential Region
                </a>
                <a class="nav-link" href="{% url 'recommended_price' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-dollar-sign"></i></div>
                    Recommended Price
                </a>
                <a class="nav-link" href="{% url 'spending_level' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-wallet"></i></div>
                    Spending Level
                </a>
                <a class="nav-link" href="{% url 'regression_failed_orders' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-exclamation-triangle"></i></div>
                    Failed Orders Prediction
                </a>
                <a class="nav-link" href="{% url 'classification_high_risk_cancelling' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-times"></i></div>
                    High Risk Cancelling
                </a>
                <a class="nav-link" href="{% url 'regression_state_revenue' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    State Revenue Regression
                </a>
                <a class="nav-link" href="{% url 'classification_customer_behavior' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Customer Behavior Classification
                </a>
                <a class="nav-link" href="{% url 'regression_ghada' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-calculator"></i></div>
                    Ghada Regression
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            User
        </div>
    </nav>
</div>
